.app{ 
  background-color: rgb(255, 255, 255);
  height: fit-content;
  color: rgb(108, 108, 108);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.schedBox {
  border: 2px solid pink;
  /* justify-content: space-between; */
}

.schedInfoBox {
  border: 1px solid blue;
  max-width: 300px;
  justify-self: flex-start;
}

.schedTimeBox {
  border: 1px solid yellow;
  justify-self: end;
  min-width: fit-content;

}

.fp1 {
  justify-items: end;
}

.schedTitle {
  text-align: center;
}

.main-heading{
  background-color: rgb(255, 8, 0);
  width: 100vw;
  justify-content: space-between;

}

#sidebar {
  text-align: center;
  
}

.FLTitle {
  text-align: center;
  margin-bottom: 50px;
}

a:link {
  text-decoration: none;
  font-size: large;
  color: white;
  
  
}

a:visited {
  text-decoration: none;
  color: white;
}