.app{ 
  background-color: rgb(255, 255, 255);
  height: fit-content;
  color: rgb(108, 108, 108);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.schedBox {
  border: 2px solid pink;
  /* justify-content: space-between; */
}

.schedInfoBox {
  border: 1px solid blue;
  max-width: 300px;
  justify-self: flex-start;
}

.schedTimeBox {
  border: 1px solid yellow;
  justify-self: end;
  min-width: fit-content;

}

.fp1 {
  justify-items: end;
}

.schedTitle {
  text-align: center;
}

.main-heading{
  background-color: rgb(255, 8, 0);
  width: 100vw;
  justify-content: space-between;

}

#sidebar {
  text-align: center;
  
}

.FLTitle {
  text-align: center;
  margin-bottom: 50px;
}

a:link {
  text-decoration: none;
  font-size: large;
  color: white;
  
  
}

a:visited {
  text-decoration: none;
  color: white;
}

.landing{
  background-image: url(https://images.immediate.co.uk/production/volatile/sites/3/2023/03/F1-drivers-06523ff.jpg?quality=90&resize=980,654);
  background-size: cover;
  width: 100vw;
}

.welcome {
  text-align: center;
  font-size: 100px;
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
}

.about {
  text-align: center;
  margin-top: 34%;
  text-wrap: wrap;
  font-size: 60px;
  /* padding-bottom: 25%; */
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}

.feed {
  margin: auto;
  width: 50%;
  text-align: center;
}

.posttitle{
  font-size: 50px;
}

.postauthor{
  font-size: 25px;
}

.postbody{
  font-size: 20px;
}

.posttitlefield {
  width: 50%;
  min-height: 40px;
  border-radius: 10px;
}

.titlelabel {
  margin-top: 5%;
  margin-bottom: 1%;
  font-size: 30px;
}

.bodylabel {
  margin-top: 1%;
  font-size: 30px;
  margin-bottom: 1%;
}

.postbtn {
  margin-top: 2%;
  min-width: 15%;
  background-color: red;
  border-radius: 10px;
  color:  white;
  font-size: 20px;
  border: none;
}

.postshead {
  font-size: 60px;
}

.logintitle {
  margin-top: 10%;
  font-size: 60px;
}